@font-face {
     font-family: 'Monument Extended';
     src: url('../fonts/MonumentExtended-Regular.otf') format('truetype');
     /* Add additional font formats and paths for different file types */
   }
   
   @font-face {
     font-family: 'Monument Extended UB';
     src: url('../fonts/MonumentExtended-Ultrabold.otf') format('truetype');
     /* Add additional font formats and paths for different file types */
   }
   
   
   @font-face {
     font-family: 'Alex Brush';
     src: url('../fonts/AlexBrush-Regular.ttf') format('truetype');
     /* Add additional font formats and paths for different file types */
   }
   
   
   @font-face {
     font-family: 'Dualis';
     src: url('../fonts/Dualis-Lite.ttf') format('truetype');
     /* Add additional font formats and paths for different file types */
   }

   @font-face {
     font-family: 'Open Sans';
     src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap') format('truetype');
     /* Add additional font formats and paths for different file types */
   }
   @font-face {
     font-family: 'Montserrat';
     src: url('../fonts/Montserrat.ttf') format('truetype');
     /* Add additional font formats and paths for different file types */
   }

   .header{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    text-align: center;     
    font-size: 10px;
    color: #ffffff;  
    margin: auto;
    font-weight: 200;  
    font-family: 'Monument Extended';  
    
  animation: fadeIn 3s;
  }
   .projectContent{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100vw;
    justify-content: center;
    margin-top: 5vh;
    padding-left: 15vh;
    padding-right: 15vh;
    text-align: start;
    font-family: 'Montserrat';

   }


   
@media (max-width: 768px) {

  
  .projectContent{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100vw;
    justify-content: center;
    margin-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    text-align: start;
    font-family: 'Montserrat';
   }

  }

   

@keyframes fadeIn {
  0% { opacity: 0.1; }
  100% { opacity: 1; }
  }